.customerPage{
    flex: 4;
    padding: 20px;
}

.customerTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customerAddBtn{
    width: 80px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #2ea4e5;
    cursor: pointer;
    color: snow;
    font-size: 16px;
    font-weight: 600;
}


.customerContainer{
    display: flex;
    margin-top: 10px;
}

.customerShow{
    flex:1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 8px -1px #000000; 
    box-shadow: 0px 0px 8px -1px #000000;
    border-radius :05px; 
}

.customerUpdate{
    flex: 2;   
    padding: 20px;
    -webkit-box-shadow: 0px 0px 8px -1px #000000; 
    box-shadow: 0px 0px 8px -1px #000000;
    border-radius :05px; 
    margin-left: 20px;

}

.customerShowTop{
    display: flex;
    align-items: center;
}


.customerShowImg{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    object-fit: cover;
}

.customerShowTopTitle{
    display: flex;
    flex-direction: column;
}

.customerUsername{font-weight: 600;}

.customerUserTitle{font-weight: 300;}

.customerShowBottom{
    margin-top: 10px;
}

.customerShowTitle{
    font-size: 15px;
    font-weight: 600;
    color: grey;
}

.displayEachInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
    font-size: 16px !important;
}

.customerShowInfoTitle{
    margin-left: 10px;
}

.customerUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}

.customerUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.customerUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.customerUpdateItem>label{
    font-size: 14px;
    margin-bottom: 6px;
}

.customerUpdateInputs{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.customerUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.customerUpdateImgUpload{
    align-items: center;
    display: flex;
}

.customerUpdateBtn{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #2ea4e5;
    cursor: pointer;
    color: snow;
    font-size: 16px;
    font-weight: 600;margin-top: 10px;
}

.customerUpdateBtn:hover,.customerUpdateBtn:active{
    
    background-image: linear-gradient(to right, #2533f5, #4e9eb6, #b13755);
    background-size: 200%;
    transition: .5s;


}


#customerImgUploadFile{
    display: none;
}

.customerUpdateNewImgUpload{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.LoadingBoxcustomerPage,.MessageBoxcustomerPage{
    padding: 40px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px -1px #000000; 
    box-shadow: 0px 0px 8px -1px #000000;
    margin-top: 15%;
}







