.checkout-steps{
  display: flex;
}
.checkout-steps>div{
  
  border-top: 0.3rem solid grey;
  color: grey;
  flex: 1;
  padding: 1rem;
  font-weight: 600;

}

.checkout-steps>div.active{
  border-top-color: #2ea4e5;
  color: #2ea4e5;
}

.checkoutLinks{
  color: inherit;

}